@import "tailwindcss";

:root {
  --main-bg-color: #0c1f2f;
  --board-bg-color: conic-gradient(
    from 45deg at -5% 40%,
    #419eef 0%,
    #00f2fe 50% 70%,
    #419eef 90%
  );
  --card-bg-color: rgb(16, 18, 4);
  --text-color: white;
  --accent-color: rgba(27, 83, 133, 0.7);
}

* {
  box-sizing: border-box;
}


html,
body {
  background: var(--main-bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  color: var(--text-color);
  scrollbar-width: 20px;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.side-panel-container {
  display: none;
}

.board-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70px 1fr;
  background: var(--board-bg-color);
}

.tool-bar {
  background: var(--accent-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.board-list-card {
  display: grid;
  grid-template-rows: 50px 1fr;
  background: var(--card-bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  max-width: 350px;
  width: 100%;
  height: fit-content;
  max-height: 80dvh;
}

.list-header {
  height: 50px;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-content {
  min-height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.list-card {
  background: var(--accent-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  min-height: 60px;
  height: fit-content;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
}

.check-icon {
  grid-column: 1 / span 1;
}

.list-card a {
  margin-top: 0.5rem;
  /* word-break: break-all; */
  overflow-wrap: anywhere;
  grid-column: 2 / span 1;
}

.list-card p {
  width: 100%;
  /* word-break: break-all; 
  */
  overflow-wrap: anywhere;
  grid-column: 2 / span 1;
}

.context-menu {
  grid-column: 3 / span 1;
}

.context-menu-item{
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
}

.add-new-card {
  border-radius: 1rem;
  max-width: 350px;
  padding: 0 2rem;
}

@media screen and (width>=480px) {
  .tool-bar {
    grid-template-columns: 12fr 6fr;
  }

  .tasks-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .board-list-card {
    min-width: 350px;
  }

  .add-new-card {
    min-width: 350px;
  }
}

@media screen and (width>= 768px) {
  .tool-bar {
    grid-template-columns: 12fr 3fr;
  }
}
